body{
    background-color: rgb(0, 135, 135);
    text-align: center;
    
    
}

img{
    width: 100px;
    height: 100px;
}

table{
    margin-left: 42%;
}
.heading{
    font-family: cursive;
    margin-top: 20px;
    
}

.Player{
    font-size: 20px;
    padding: 10px;
}

.btn{
    margin-top: 2rem;
    border: dotted 2px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(1, 70, 150);
}